// _colors.scss
// Paleta base de Miaudoro (estilo kawaii pastel)

//
// 🎨 Colores base
//
$beige: #ffddd4;
$lavender: #e7d3e0;
$lavender-2: #d7c0d6;
$green-soft: #cfd7b2;
$green-soft-2: #adba8b;
$pink-light: #ffd9be;
$pink-light-2: #fec49e;
$pink-candy: #f9a8c3;
$pink-deep: #e27baa;
$gray-kitty: #b3b3b3;
$gray-soft: #dadada;
$white: #ffffff;
$violet-soft: #866D85;

//
// 🎯 Roles semánticos
//
$color-beige: $beige;
$color-primary: $lavender;
$color-primary-2: $lavender-2;
$color-primary-hover: $pink-candy;
$color-accent: $pink-deep;

$color-background: $lavender;
$color-surface: $white;

$color-text-primary: $violet-soft;
$color-text-inverse: $white;
$color-border: $gray-soft;
