@use '../abstracts/typography';
@use '../themes/light' as theme;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px; // base de 1rem
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: typography.$font-family-primary;
  font-size: typography.$font-size-base;
  font-weight: typography.$font-weight-regular;
  color: theme.$color-text-primary;
  background-color: theme.$color-background;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: typography.$font-weight-bold;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
}
